{% extends "blog/index.html" %}

{% block content %}
<ul class="breadcrumb">
	<li><a href="{% url main %}">home</a> <span class="divider">/</span></li>
	<li><a href="{% url about %}">about</a> <span class="divider">/</span></li>
</ul>
<h1>about {{post.title}}</h1>
I am a Computer Engineering student at the University of Victoria, on track to finish my degree at the end of May 2013.  I am originally from Calgary Alberta, where I obtained my Computer Engineering Technologist Diploma, before deciding to move out to Victoria, British Columbia in order to broaden my horizons and upgrade my diploma to an Engineering Degree.
<br/>
<br/>
I enjoy reading, hiking, computer games, programming, board games, and comic books.  I also enjoy travelling and have enjoyed my time in San Fransisco, New York, Los Angeles, and Mexico as well as my time spent going to conventions in Seattle.
<br/>
<br/>
I will be seeking employment after graduation in Summer 2013.  Please contact me using my <a href="mailto:jason@jason-castor.com" class="email">email</a> for a full resume if you are interested in seeing me for an interview.

{% endblock %}

