{% extends "blog/index.html" %}

{% block content %}

<ul class="breadcrumb">
	<li><a href="{% url main %}">home</a> <span class="divider">/</span></li>
	<li><a href="{% url main %}">resume</a> <span class="divider">/</span></li>
</ul>
<h1>resume</h1>
<ul class="nav nav-list">
	<li class="divider"></li>
</ul>
<div class="row">
	<div class="span9">
	<img src="http://jason-castor.com/static/qrcode.png" width="150">
	</div>
	<div class="span3">
		<h2>Jason Castor</h2>
		<a href="mailto:jason@jason-castor.com">jason@jason-castor.com</a><br/>
		3263 Alder St Unit 301</br>
		Victoria, British Columbia V8X 1P3<br/>
	</div>
</div>
<ul class="nav nav-list">
	<li class="divider"></li>
</ul>
<div class="row">
	<div class="span12">
		<h3>Education</h3>
	</div>
</div>
<div class="row">
	<div class="span10">
		<b>BEng. Computer Engineering Software Specialization</b><br/>
		University of Victoria<br/>
		Victoria, British Columbia<br/>
	</div>
	<div class="span2">
		Jan 2010 - Present
	</div>
</div>
<br/>
<div class="row">
	<div class="span10">
		<b>Advanced Computer Engineering Technology</b><br/>
		Camosun College<br/>
		Victoria, British Columbia<br/>
	</div>
	<div class="span2">
		Jul 2009 - Dec 2009
	</div>
</div>
<br/>
<div class="row">
	<div class="span10">
		<b>Computer Engineering Technology</b><br/>
		SAIT Polytechnic<br/>
		Calgary, Alberta<br/>
	</div>
	<div class="span2">
		Jan 2007 - Jan 2009
	</div>
</div>
<div class="row">
	<div class="span12">
		<h3>Computer Skills</h3>
	</div>
</div>
<div class="row">
	<div class="span12">
	        <b> Python </b>
            <br/>
            I have been using Python for a significant time now, and am becoming more familiar with using it for my day to day programming tasks, and it is my go-to language that I look to use when starting new projects.  I particularily enjoy using the Django framework with Python to create web applications.
            <br/>
            <br/>
            <b>Relational Databases</b>
            <br/>
            After taking a class in relational databases I have become very familiar with working with SQL and diving into the backend of my web applications in order to improve performance.  I have experience mostly with PostgreSQL, but am comfortable learning the nuances of other database systems.
            <br/>
            <br/>
            <b>Objective C (iOS)</b>
            <br/>
            I have been working with and using Objective C during the last few months to do a project for a class I am taking, and have taken a liking to the language and development environment.  I plan on doing some more projects for iOS devices during my personal time now that I have some experience with the language.
            <br/>
            <br/>
            <b> C/C++ Programming </b>
            <br/>
            During my time in school, I have gained experience working in C/C++ and have found it to be a language that I enjoy using.  I have mostly worked in C, and have some experience in C++.
            <br/>
            <br/>
            <b> Networking </b>
            <br/>
            I have spent time experimenting with TCP/IP protocol and using some socket programming libraries in C/C++.  As well as setting up simple servers to use with different programs, I also have experience with non-standard firmware for routers (DD-WRT).
            <br/>
            <br/>
            <b> Software Packages </b>
            <br/>
            Familar with Microsoft Office, Open Office, Libre Office, Dev C++, and I am highly adaptable in quickly changing technical enviroments.
            <br/>
            <br/>
            <b> Command Line </b>
            <br/>
            I am able to use both the Linux/Windows command lines proficiently.
            <br/>
			<br/>
			<b>Operating Systems</b>
			<br/>
			Experience and Familarity with:
			<br/>
			<ul>
				<li>Linux</li>
				<li>Mac OS X</li>
				<li>Windows (XP, Vista, 7)</li>
			</ul>
	</div>
</div>
<div class="row">
	<div class="span12">
		<h3>Electronics Skills</h3>
	</div>
</div>
<div class="row">
	<div class="span12">
	        <b> Soldering </b>
            <br/>
            Due to my time doing electronics repair, I became skilled with a soldering iron while I made cables and added/removed various components, including working with SMT components.
            <br/>
            <br/>
            <b> Electronics Testing/Troubleshooting </b>
            <br/>
            In past work experiences I have spent time repairing broken equipment that involved researching schematics to determine problems, make corrections and then test properly to verify device functinoality.
            <br/>
            <br/>
            <b> Lab Equipment </b>
            <br/>
            I am familar with Oscilloscopes, Multimeters, and other pieces of lab testing equipment.
	</div>
</div>
<div class="row">
	<div class="span12">
		<h3>Professional Skills</h3>
	</div>
</div>
<div class="row">
	<div class="span12">
            <b> Customer Service </b>
            <br/>
            I have held positions in customer service and learned quickly how to provide courteous service to both internal and external customers.
            <br/>
            <br/>
            <b> Learing & Research </b>
            <br/>
            During my time repairing electronics, I quickly had to learn about the different types of equipment and find ways to fix them.  During a final project I was also responsible for researching different types of Microprocessors for our projects needs.
            <br/>
            <br/>
            <b> Time Managment </b>
            <br/>
            I have developed my time managment skills to keep track of the work I accomplish in order to determine proper billable hours as well as manage my time when working independantly.
	</div>
</div>

<br/>
<div class="row">
	<div class="span12">
		<h3>Work Experience</h3>
	</div>
</div>

<div class="row">
	<div class="span10">
		<b>Computer Help Desk Consultant</b><br/>
		Univerity of Victoria<br/>
		Victoria, British Columbia<br/>
        <ul>
                <li>Assisted Students and Faculty with computer problems</li>
                <li>Assisted with problems in University Systems</li>
                <li>Completed a term project "RFID Time Tracking"</li>
                <li>Completed a term project "Prototype/Feasibility of a Chat Support System"</li>
        </ul>
	</div>
	<div class="span2">
		May 2010 - Present
	</div>
</div>
<br/>
<div class="row">
	<div class="span10">
		<b>Undergraduate Student Research Award</b><br/>
		Univerity of Victoria<br/>
		Victoria, British Columbia<br/>
        <ul>
                <li>Worked independantly to create a functional Django webapp</li>
                <li>Gained experience with memcached</li>
                <li>Worked with large databases</li>
                <li>Created python scripts to analyze data</li>
		</ul>
	</div>
	<div class="span2">
		Sept 2012 - Dec 2012
	</div>
</div>
<br/>
<div class="row">
	<div class="span10">
		<b>Quality Assurance</b><br/>
		IBM Canada<br/>
		Victoria, British Columbia<br/>
        <ul>
			    <li>Created testing documentation</li>
                <li>Produced automated testing procedures</li>
                <li>Reported issues & verified fixes</li>
                <li>Worked with CSS templates </li>
        </ul>
	</div>
	<div class="span2">
		Sept 2011 - Dec 2011
	</div>
</div>
<div class="row">
	<div class="span12">
		<h3>Activities & Interests</h3>
	</div>
</div>
<div class="row">
	<div class="span12">
	<ul>
                <li>Programming Projects/Computer Repair</li>
                <li>Reading (Politics, Science-Fiction)</li>
                <li>Physical Fitness (Running, Hiking)</li>
	</ul>
	</div>
</div>
{% endblock %}

